#rng {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
}

.inputs {
  margin-right: 10px;
}

#rng button {
  width: 100%;
  font-size: 16px;
  padding: 3px 0;
}

#rng .result {
  width: 100%;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.result:after {
  content: '.';
  visibility: hidden;
}

@media (min-width: 520px) {
  #rng {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: auto;
  }

  #rng .result {
    font-size: 60px;
  }
}